body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: relative;
    top: 30px;
    font-size: 20px;
    text-align: center;

    & h1 {
        font-size: 50px;
    }

    & #AddButton {
        cursor: pointer;
    }

    .Tasks {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .task {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .task img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}